
.headerLogo {
    font-size: 20px !important;
}

.navBar:hover{
    background-color: #58646D;
    transition: background-color 0.35s ease; 
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.headerLink {
    color: white;
    text-decoration: none;
}

.center {
    align-items: center;
}

.headerBtn {
    font-size: 16px;
}

.headerLogo {
    width: 125px;
    height: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin: 9px 0 9px 0;
}

.btnIcon {
    font-size: 22px !important;
    vertical-align: middle;
}

.inline{
    display: inline !important;
}